:root {
    --16px: 1rem;
    --22px: 1.375rem;
    --32px: 2rem;
    --575px: 35.9375rem;
    --600px: 37.5rem;
    --670px: 41.875rem;
}

body {
    margin: 0;
    background-color: hsl(30, 54%, 90%);
    padding-bottom: 100px;
}

.hr-ligne {
    background-color: hsl(30, 18%, 87%);
    border-radius: 2px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--600px);
    height: 3px;
}

    /* FR : centrage du DIV avec margin left/right en auto 
    -- 
        EN : DIV centered with margin left/right in AUTO */

.container {
    width: var(--670px);
    background-color: white;
    border-radius: 15px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 24px;
}

    /* FR : image dans container + text align pour etre centré 
    --
    EN : image in container using text-align */
.img-container {
    text-align: center;
}

.img-omelette {
    max-width: var(--600px);
    margin-top: 32px;
    border-radius: 10px;
}

.recipe-title {
    margin-left: 35px;
}

.recipe-description {
    font-size: var(--16px);
    line-height: 24px;
    margin-left: 35px;
    margin-bottom: 35px;
    max-width: var(--600px);
}

.container-recipe-prep {
    background-color: hsl(330, 100%, 98%);
    margin-left: auto;
    margin-right: auto;
    max-width: var(--600px);
    border-radius: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.recipe-prep::marker {
    color: hsl(332, 51%, 32%);
}

.prep-title {
    color: hsl(332, 51%, 32%);
    font-size: var(--22px);
    font-weight: bold;
    margin-left: 40px;
}

    /* FR : utilisation de .prep-advice::marker pour changer 
    couleur de la liste .prep-advice 
    --
    EN : .prep-advice::marker to change the color of the point 
    of the list ".prep-adice*/

.prep-advice::marker {
    color: hsl(332, 51%, 32%);
}

    /* FR : padding-left pour deplacer le texte du point vers la droite 
    --
    EN : use of padding-left to move text to the right*/

.prep-advice {
    font-size: var(--16px);
    color: black;
    line-height: 36px;
    padding-left: 10px;
    margin-left: 25px;
}

/* liste d'ingredients (note for my self)*/
.container-list-ingredients {
    margin-left: 16px;
    padding-bottom: 14px;
}

    /* FR :mm chose que pour .prep-advice::marker 
    -- 
    EN : same as .prep-advice::marker */

.ingredients::marker {
    color: hsl(14, 45%, 36%);
}

.title-lists {
    color: hsl(14, 45%, 36%);
    margin-left: 16px;
    font-size: var(--32px);
}

.ingredients {
    color: black;
    font-size: var(--16px);
    font-weight: 400;
    margin-left: 0;
    line-height: 24px;
    padding-left: 16px;
}


.container-instruction {
    margin-left: 16px;
    padding-bottom: 14px;
    max-width: var(--575px);
}

.list-inscription::marker {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

.list-inscription {
    margin-bottom: 16px;
    font-size: var(--16px);
    line-height: 20px;
    padding-left: 16px;
    list-style-type: decimal;
}

.nutrition-container {
    margin-left: 16px;
}


.nutr-info-table {
    font-size: var(--16px);
    max-width: var(--600px);
    margin-bottom: 8px;
    margin-left: 16px;
}

/* table */

table {
    margin-left: 32px;
    width: var(--600px);
    border-collapse: collapse;
    padding-top: 26px;
    padding-bottom: 32px;
}

.td-left-line {
    width: 50%;
    padding-left: 32px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.td-right-line {
    width: 50%;
    color: hsl(14, 45%, 36%);
    font-weight: bold;
    padding-bottom: 8px;
    padding-top: 8px;
}

tr { 
    border: 3px;
    border-color: hsl(30, 18%, 87%);
    border-radius: 2px;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
}
tr:last-child {
    border: none;
}